.class-file-selector {
  border: 1px dashed var(--color-theme-2);
  background-color: white;
  padding: calc(2 * var(--spacing-base));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(2 * var(--spacing-base));
}
