.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(2 * var(--spacing-base));

  & .github-link {
    padding: var(--spacing-base) 0;

    & img {
      width: 2rem;
      height: 2rem;
    }
  }
}
