:root {
  --font-body: Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-family-monospace: Roboto Mono, monospace;
  --font-weight-normal: 400;
  --color-bg: #f4f4f4;
  --color-theme-1: #f89820;
  --color-theme-2: #5382a1;
  --color-text: rgba(0, 0, 0, 0.8);
  --color-error: #c43202;
  --color-error-darker: #ac2b00;
  --spacing-base: 0.5rem;

  font-family: var(--font-body);
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-bg);
}

h1,
h2 {
  color: var(--color-theme-2);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

h1 {
  font-size: 2rem;

  & code {
    color: var(--color-theme-1);
  }
}

p {
  margin: 0;
}
